# This is a .gitignore file for a Python project
#git ignore

* 
# 以下、ホワイトリスト（gitで追跡してよいファイルのみ指定する）
!.gitignore
# グラフモデルについて
!model/
!model/edge_replace_model.py
# 計算ユーティリティについて
!calc_util/
!calc_util/matrix.py

