# This is a .gitignore file for a Python project
#git ignore

* 

# ウェブフックにdiscordを使用しており、urlが載っているのでgitには見せない
webhook.py

# 以下、ホワイトリスト（gitで追跡してよいファイルのみ指定する）
!.gitignore
!README.md

# entropy-clustering ブランチ用のホワイトリスト。
!clustering/
!clustering/cluster.py
!clustering/core.py
!clustering/entropy.py
!clustering/test.py
!clustering/test.png
!clustering/soc-dolphins.mtx

# multifractal 解析のためのSandboxアルゴリズム
!multifractal/
!multifractal/__init__.py
!multifractal/api.py
!multifractal/core.py
!multifractal/Multifractal.py
!multifractal/sandbox.py
!multifractal/box_covering.py

# グラフモデルについて
!model/
!model/edge_replace_model.py

# 計算ユーティリティについて
!calc_util/
!calc_util/matrix.py

